In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression

In [4]:
train_pro = pd.read_csv('./data/train_pro.csv')
train_pro.head()

,id,keyword,location,target,n_url,n_hash,n_mention,n_words,n_caps,n_AllCaps,n_digits,words
0,1,NaN,NaN,1,0,1,0,7,5,1,0,Our Deeds Reason #earthquake May ALLAH Forgive
1,4,NaN,NaN,1,0,0,0,6,5,0,0,Forest fire La Ronge Sask Canada
2,5,NaN,NaN,1,0,0,0,9,2,0,0,All residents shelter notified officers No eva...
3,6,NaN,NaN,1,0,1,0,6,1,0,1,13000 people receive #wildfires evacuation Cal...
4,7,NaN,NaN,1,0,2,0,8,2,0,0,Just photo Ruby #Alaska smoke #wildfires pours...

In [19]:
# model trained on training set
def fit_lr(df):
    features = df.iloc[:,4:11]
    target = df['target']

    lr = LogisticRegression()
    lr.fit(features, target)

    predictions = lr.predict(features)

In [33]:
# model evaluation metrics
def train_and_evaluate(df): 
    # train
    features = df.iloc[:,4:11]
    target = df['target']

    lr = LogisticRegression()
    lr.fit(features, target)

    predictions = lr.predict(features)
    
    # evaluate
    true_positive = len(df[(target==1) & (predictions==1)])
    false_negative = len(df[(target==1) & (predictions==0)])
    false_positive = len(df[(target==0) & (predictions==1)])
    true_negative = len(df[(target==0) & (predictions==0)])

    precision = true_positive / (true_positive + false_positive)
    recall = true_positive / (true_positive + false_negative)
    F1 = 2*((precision * recall) / (precision + recall))

    print('Precision: ', precision)
    print('Recall: ', recall)
    print('F1: ', F1)

In [35]:
train_and_evaluate(train_pro)

Precision:  0.5788364249578415
Recall:  0.41974931213696115
F1:  0.4866205918837498

In [31]:
# test random model
train_random = train_pro.copy()
cols_to_shuffle = train_random.iloc[:,4:11].columns

for col in cols_to_shuffle:
    train_random[col] = train_random[col].sample(frac=1).reset_index(drop=True)

train_random.head()

,id,keyword,location,target,n_url,n_hash,n_mention,n_words,n_caps,n_AllCaps,n_digits,words
0,1,NaN,NaN,1,0,0,0,11,0,0,1,Our Deeds Reason #earthquake May ALLAH Forgive
1,4,NaN,NaN,1,1,1,1,18,4,0,8,Forest fire La Ronge Sask Canada
2,5,NaN,NaN,1,0,1,0,12,3,0,0,All residents shelter notified officers No eva...
3,6,NaN,NaN,1,1,0,0,3,1,0,1,13000 people receive #wildfires evacuation Cal...
4,7,NaN,NaN,1,1,0,0,7,0,1,0,Just photo Ruby #Alaska smoke #wildfires pours...

In [36]:
train_and_evaluate(train_random)

Precision:  0.6875
Recall:  0.003362885967594008
F1:  0.006693033160937024

In [44]:
test = pd.read_csv('./submission/test.csv')
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         3263 non-null   int64
 1   keyword    3237 non-null   object
 2   location   2157 non-null   object
 3   n_url      3263 non-null   int64
 4   n_hash     3263 non-null   int64
 5   n_mention  3263 non-null   int64
 6   n_words    3263 non-null   int64
 7   n_caps     3263 non-null   int64
 8   n_AllCaps  3263 non-null   int64
 9   n_digits   3263 non-null   int64
 10  words      3263 non-null   object
dtypes: int64(8), object(3)
memory usage: 280.5+ KB

In [47]:
features = train_pro.iloc[:,4:11]
target = train_pro['target']

lr = LogisticRegression()
lr.fit(features, target)

test_features = test.iloc[:,3:10]

#predict
predictions = lr.predict(test_features)

In [62]:
test['target'] = predictions
submission = test[['id', 'target']].copy()

submission.to_csv('./submission/submission.csv', index=False)

In [60]:
submission.info()
submission.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3263 non-null   int64
 1   target  3263 non-null   int64
dtypes: int64(2)
memory usage: 51.1 KB

   id  target
0   0       0
1   2       0
2   3       0
3   9       0
4  11       0